html{
    height: 100%;
    background:white;
}
h1{
    font-size: 5vw;
    text-align: center;
    color: rgb(45, 3, 51);
    text-shadow: 2px 2px 5px rgb(71, 2, 99);
}

#container
{
    width: 70%;
    height: 65vh;
    margin: 4% auto;
    color: rgb(182, 221, 236);
    background: linear-gradient( rgb(221, 163, 221), rgb(141, 26, 116)); 
    padding: 3%;
    border-radius: 15px;
    box-shadow: 4px -4px 10px white;
    -moz-box-shadow: 4px -4px 10px white;
    -webkit-box-shadow: 4px -4px 10px white;

    position: relative;
}
#score
{
    color: rgb(201, 231, 243);
    width: 25%;
    text-align: center;
    font-size: 2.5vw;
    position: absolute;
    top:2%;
    right: 7%;
    border: 2px outset rgb(174, 214, 230) ;
    box-shadow: 2px 2px 10px rgb(48, 1, 49);
    background-color: rgb(8, 54, 107);
    padding: 10px;
    border-radius: 5px;
}
#right{
    color: white;
    font-size: 2vw;
    position: absolute;
    left: 40%;
    background-color: green;
    padding: 7px;
    border: 1px inset white;
    box-shadow: 2px 2px 10px white;
    -moz-box-shadow: 2px 2px 10px white;
    -webkit-box-shadow: 2px 2px 10px white;
     display: none; 

}
#wrong{
    color: white;
    font-size: 2vw;
    position: absolute;
    left: 35%;
    background-color: red;
    padding: 7px;
    border: 1px inset white;
    box-shadow: 2px 2px 10px white;
    -moz-box-shadow: 2px 2px 10px white;
    -webkit-box-shadow: 2px 2px 10px white;
    display: none;

}

#problem
{
    color: black;
    font-size: 5vw;
    line-height: 75px;
    padding: 0px 13px;
    text-shadow: 2px 2px 3px rgb(252, 251, 250);
    font-family: cursive;
    width: 94%;
    height: 14vh;
    /* line-height: 70%; */
    background-color: rgb(250, 189, 247);
    margin-top:1.5cm;
    margin-left: auto;
    margin-right: auto;
    border: 2px outset rgb(161, 129, 187);
}
#instr
{
    color: white;
    text-align: center;
    padding: 5px 11px;
    width: 94%;
    line-height: 4vh;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(40, 22, 41);
    border: 1px inset wheat;
    font-size:2vw;
}
#choice
{
    height: 17vh;
    text-align: center;
    width: 94%;
    margin: auto;
    background-color: rgb(214, 7, 187);
    border: 1px double white;
}
.box
{
    color: black;
    height: 45%;
    width: 9%;
    font-size: 2.2vw;
    text-align: center;
    line-height: 50px;
    margin:3% 7% 2% 7%;
    box-shadow: 2px 2px 10px black;
    background-color: rgb(244, 244, 253);
    float: left; 
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;


}
.box:hover{
    background-color: rgb(192,192,212);
    cursor: pointer;
}
.box:active
{
    box-shadow: 0px 2px black;
    top: 4px;

}
#box1
{
    margin:3% 7% 2% 12%;
}

#submit
{
    color: rgb(0, 5, 7);
    font-size: 2vw;
    width:25%;
    position: absolute;
    margin-top: 15px;
    right:39%;
    border: 2px outset rgb(174, 214, 230) ;
    box-shadow: 2px 2px 10px rgb(48, 1, 49);
    background-color: rgb(237, 171, 240);
    padding: 10px;
    border-radius: 5px;
}
#but
{
    margin-left: auto;
    margin-right: auto;
}
#submit:hover{
    background-color: rgb(250, 204, 246);
    cursor: pointer;
}
#box:active
{
    box-shadow: 0px 2px black;
    top: 4px;
}
#counter
{
    width: 31%;
    color: black;
    font-size: 1.7vw;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    background-color: rgb(250, 200, 247);
    box-shadow: 3px 3px 1px rgb(14, 5, 15);
    padding: 10px;
   display: none;
}
br
{
    line-height: 10px;
}
#attm
{
    width: 20%;
    color: rgb(255, 255, 255);
    float: left;
    position: relative;
    left:2%;
    font-size: 1.7vw;
    padding: 10px;
    background-color: dimgray;
    box-shadow: 3px 3px 1px rgb(14, 5, 15);
}
#over
{
    height: 40vh;
    width:75%;
    line-height: 50px;
    vertical-align: baseline;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 2.7vw;
    color: rgb(243, 225, 243);
    background: linear-gradient(rgb(23,45,66), rgb(222,34,134));
    border-radius: 7px;
    position: absolute;
    top:17vw;
    left: 12.5%;
    box-shadow: 3px 3px 10px rgb(187, 122, 218);
    z-index: 1;
    display: none;
}